* text=auto !eol
English.lproj/InfoPlist.strings -text
English.lproj/VoodooHDAPref.xib -text
/Info.plist -text
/VoodooHDAPref.h -text
/VoodooHDAPref.m -text
/VoodooHDAPref.tiff -text
/VoodooHDA_Prefix.pch -text
