* text=auto !eol
English.lproj/InfoPlist.strings -text
English.lproj/VoodooHDAPref.xib -text
/Info.plist -text
VoodooHDA.xcodeproj/fassl.mode1v3 -text
VoodooHDA.xcodeproj/fassl.pbxuser -text
VoodooHDA.xcodeproj/project.pbxproj -text
VoodooHDA.xcodeproj/slice.mode1v3 -text
VoodooHDA.xcodeproj/slice.pbxuser -text
/VoodooHDAPref.h -text
/VoodooHDAPref.m -text
/VoodooHDAPref.tiff -text
/VoodooHDA_Prefix.pch -text
build/Release/VoodooHDA.prefPane/Contents/Info.plist -text
build/Release/VoodooHDA.prefPane/Contents/MacOS/VoodooHDA -text
build/Release/VoodooHDA.prefPane/Contents/Resources/English.lproj/InfoPlist.strings -text
build/Release/VoodooHDA.prefPane/Contents/Resources/English.lproj/VoodooHDAPref.nib -text
build/Release/VoodooHDA.prefPane/Contents/Resources/VoodooHDAPref.tiff -text
build/VoodooHDA.build/Release/VoodooHDA.build/Objects-normal/i386/VoodooHDA -text
build/VoodooHDA.build/Release/VoodooHDA.build/Objects-normal/i386/VoodooHDA.LinkFileList -text
build/VoodooHDA.build/Release/VoodooHDA.build/Objects-normal/x86_64/VoodooHDA -text
build/VoodooHDA.build/Release/VoodooHDA.build/Objects-normal/x86_64/VoodooHDA.LinkFileList -text
build/VoodooHDA.build/Release/VoodooHDA.build/VoodooHDA.dep -text
build/VoodooHDA.build/Release/VoodooHDA.build/VoodooHDA.hmap -text
build/VoodooHDA.build/Release/VoodooHDA.build/build-state.dat -text
build/VoodooHDA.build/VoodooHDA.pbxindex/categories.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/cdecls.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/decls.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/files.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/imports.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/pbxindex.header -text
build/VoodooHDA.build/VoodooHDA.pbxindex/protocols.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/refs.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/strings.pbxstrings/control -text
build/VoodooHDA.build/VoodooHDA.pbxindex/strings.pbxstrings/strings -text
build/VoodooHDA.build/VoodooHDA.pbxindex/subclasses.pbxbtree -text
build/VoodooHDA.build/VoodooHDA.pbxindex/symbols0.pbxsymbols -text
